@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Comfortaa", sans-serif;
}

html{
    scroll-behavior: smooth;
}

nav{
    background-color: #C63A38;
    position: fixed;
    width: 100%;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li{
    padding: 1.2rem;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

nav ul li a:hover{
    box-shadow: 0 0 10px 10px #e04240;
    padding: .5rem;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 4rem;
    padding-left: 4rem;
}

header div p{
    font-size: 2vw;
    font-weight: 700;
    color: #E03F3D;
    padding-left: 4rem;
    text-align: end;
}

header div spam{
    font-size: 1.2vw;
    font-weight: 500;
    color: #E03F3D;
    padding-left: 23.7rem
}

header div#img-goal{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

header div#img-goal img{
    width: 60%;
}

section#sobre-mim{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.5rem;
    background-color: #E03F3D;

}

section#sobre-mim div img{
    width: 200;
    border-radius: 50%;
}

section#sobre-mim div p{
    font-size: 1.2vw;
    text-align: justify;
    color: #fff;
    line-height: 2rem;
    padding: 1rem;
}

section#projetos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
 }
 
 section#projetos div img{
    display: block;
    margin: auto;
    width: 50%;
    padding-bottom: 3rem;
 }
 
 section#projetos div h2{
    text-align: center;
    padding: .8rem;
    background-color: #C63A38;
    color: #fff;
 }
 
 section#projetos div p{
    text-align: justify;
    padding-top: 1rem;
 }
 
 section#projetos div{
    padding: 2rem;
 }

section#projetos div button{
    border: #C63A38;
    background-color: #fff;
    color: #fff;
    width: 50%;
    padding: 1rem;
    font-size: 1.2vw;
    display: block;
    margin: auto;
    margin-top: 2rem;
    cursor: pointer;
    box-shadow: 0 0 40px 40px #e04240 inset, 0 0 0 0 #e04240;
    transition: .3s ease-in-out;
}

section#projetos div button:hover{
    border: #e04240;
    background-color: #fff;
    color: black;
    box-shadow: 0 0 10px 0 #e04240 inset, 0 0 10px 8px #e04240;
}

section#habilidades{
    padding: 3rem;
    padding-top: 10rem;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 12rem;
    background-color: #F2A2A2;
}

section#habilidades h2{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

section#habilidades p{
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
}

section#habilidades div{
    display: flex;
    border: 1px solid #e03f3d;
    border-radius: 1rem;
}

section#habilidades div spam#python{
    width: 80%;
    background-color: #e03f3d;
    color: #fff;
    text-align: end;
    padding: .3rem;
    border-radius: 1rem;
    animation: python 5s 3;
}

@keyframes python{
    from {width: 0%;}
    to {width: 80%;}
}

section#habilidades div spam#html{
    width: 50%;
    background-color: #e03f3d;
    color: #fff;
    text-align: end;
    padding: .3rem;
    border-radius: 1rem;
    animation: html 5s 1;
}

@keyframes html{
    from {width: 0%;}
    to {width: 50%;}
}

section#habilidades div spam#css{
    width: 30%;
    background-color: #e03f3d;
    color: #fff;
    text-align: end;
    padding: .3rem;
    border-radius: 1rem;
    animation: css 5s 1;
}

@keyframes css{
    from {width: 0%;}
    to {width: 30%;}
}

section#habilidades div spam#js{
    width: 10%;
    background-color: #e03f3d;
    color: #fff;
    text-align: end;
    padding: .3rem;
    border-radius: 1rem;
    animation: js 5s 1;
}

@keyframes js{
    from {width: 0%;}
    to {width: 10%;}
}

section#contato{
    background-color: #F2D5D5;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
 
section#contato div#redes{
    width: 100%;
    padding: 2rem;
    padding-top: 4rem;
}
 
section#contato div#redes h3{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}
 
section#contato div#redes div#icons{
    display: flex;
    justify-content: center;
}
 
section#contato div#redes div#icons a{
    text-decoration: none;
    color: #C63A38;
    font-size: 3rem;
    padding: 1.5rem;
    transition: all .4s ease-out;
}
 
section#contato div#redes div#icons a:hover{
    color: #E03F3D;
}
 
section#contato div#redes div#icons a i{
    transition: all .4s ease-out;
}
 
section#contato div#redes div#icons a i:hover{
    transform: scale(1.1);
}
 
section#contato div#form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
 
section#contato div#form h3{
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}
 
section#contato div#form form{
    width: 50%;
    padding-bottom: 3rem;
 }
 
section#contato div#form form input, textarea{
    width: 100%;
    padding: .5rem;
    font-size: 1.2rem;
    background-color: #F2D5D5;
    border: 1px solid #E03F3D;
    border-radius: .5rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
    outline: none;
}
 
section#contato div#form form label{
    font-size: 1rem;
}

section#contato div#form form button{
    border: #e04240 ;
    background-color: #F2D5D5;
    color: #F2D5D5;
    padding: 1rem;
    font-size: 1.2vw;
    font-weight: 600;
    display: block;
    margin: auto;
    margin-top: 2rem;
    cursor: pointer;
    width: 20%;
    box-shadow: 0 0 40px 40px #e04240 inset, 0 0 0 0 #e04240;
    transition: .3s ease-in-out;
}
 
section#contato div#form form button:hover{
    border: #e04240;
    background-color: #F2D5D5;
    color: black;
    box-shadow: 0 0 10px 0 #e04240 inset, 0 0 10px 8px #e04240;
}

section#contato div#carregamento{
    display: none; /* Deixa o display none para não aparecer até que você clique no botão enviar (ver JS) */
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3rem;
}
  
section#contato div#carregamento p{
    color: #0066ff;
    font-weight: 700;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    padding: 2rem;
}
  
section#contato div#carregamento div#loader{
    border: 13px solid #fff;
    border-radius: 50%;
    border-top: 13px solid #0066ff;
    border-bottom: 13px solid #0066ff;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    } 
    100% {
        transform: rotate(360deg);
    }
}

footer{
    display: flex;
    flex-wrap: wrap;
    background-color: #C63A38;
    color: #fff;
    width: 100%;
    line-height: 30px;
    padding: .6rem;
}

footer p{
    width: 100%;
    text-align: center;
    font-size: .8rem;
}