<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Configurações</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" />
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="../static/css/style.css" rel="stylesheet" />
</head>

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <article id='new'>
        {% if projeto == undefined %}
        <form action='/new' method="POST">
        {% else %}
        <form action='/edit{{projeto.id}}' method="POST">
        <h1>Atualize o projeto</h1>
        {% endif %}
            <h1>Cadastre um novo projeto</h1>

            <label for="nome">Nome</label>
            <input type="text" placeholder="Nome do projeto" id="nome" name="nome">
            value="{{projeto.imagem}}"

            <label for="imagem">Imagem</label>
            <input type="text" placeholder="Link da imagem" id="imagem" name="imagem">

            <label for="link">Link</label>
            <input type="text" placeholder="Link do projeto" id="link" name="link">

            <label for="descricao">Descrição</label>
            <textarea name="descricao" id="descricao" cols="30" rows="10"
                placeholder="Digite a descrição do projeto"></textarea>

            <button type="submit">
                {% if projeto == undefined %}
                Enviar
                {% else %}
                Atualizar
                {% endif %}
            </button>

        </form>
    </article>
    <table>
        <thead>
            <tr>
                <th>#ID</th>
                <th>Nome</th>
                <th>Imagem</th>
                <th>Descrição</th>
                <th>Link</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for p in projetos %}
            <tr>
                <td>{{p.id}}</td>
                <td>{{p.nome}}</td>
                <td>
                    <a href='{{p.imagem}}'>
                    {{p.imagem}}</a>
                </td>
                <td>{{p.descricao}}</td>
                <td>
                    <a href='{{p.link}}'>
                </td>
                </a>
                <td>
                    <a href="/edit/{{p.id}}">Editar</a>
                    <a href="/delete/{{p.id}}">Apagar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script src="../static/js/adm.js"></script>
</body>
</html>