<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio Janice</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" />
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="../static/css/style.css" rel="stylesheet" />
</head>

<body>
    <div class="tm-container">        
        <div>
            <div class="tm-row pt-4">
                <div class="tm-col-left">
                    <div class="tm-site-header media">
                        <i class="fas fa-laptop-code fa-3x mt-1 tm-logo"></i>
                        <div class="media-body">
                            <h1 class="tm-sitename">Portfolio</h1>
                        </div>        
                    </div>
                </div>
                <div class="tm-col-right">
                    <nav class="navbar navbar-expand-lg" id="tm-main-nav">
                        <button class="navbar-toggler toggler-example mr-0 ml-auto" type="button" 
                            data-toggle="collapse" data-target="#navbar-nav" 
                            aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
                            <span><i class="fas fa-bars"></i></span>
                        </button>
                        <div class="collapse navbar-collapse tm-nav" id="navbar-nav">
                            <ul class="navbar-nav text-uppercase">
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="/">Início</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link tm-nav-link" href="/habilidades">Habilidades <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="/projetos">Projetos</a>
                                </li>                            
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="/contato">Contato</a>
                                </li>
                            </ul>                            
                        </div>                        
                    </nav>
                </div>
            </div>
            
            <div class="tm-row">
                <div class="tm-col-left"></div>
                <main class="tm-col-right">
                    <section class="tm-content tm-about">
                        <h2 class="mb-5 tm-content-title">Habilidades em construção:</h2>
                        <section id="habilidades">                
                            <p>Python</p>
                            <div>
                                <span id="python">80%</span>
                            </div>
                            <br><p>HTML 5</p>
                            <div>
                                <span id="html5">50%</span>
                            </div>

                            <br><p>CSS 3</p>
                            <div>
                                <span id="css3">40%</span>
                            </div>

                            <br><p>JavaScript</p>
                            <div>
                                <span id="js">30%</span>
                            </div>

                            <br><p>Flask</p>
                            <div>
                                <span id="flask">20%</span>
                            </div>

                            <br><p>Cloud</p>
                            <div>
                                <span id="cloud">20%</span>
                            </div>
                        </section>
                        <br><br><p class="mb-5">Veja mais informações técnicas no meu <a rel="nofollow" target="_blank" href="http://linkedin.com/in/janicecaldeira" class="tm-text-link">Linked <i class="fab fa-linkedin"></i></a></p></p>
                        <hr class="mb-4">
                        <h2 class="mb-5 tm-content-title">O que o meu currículo não diz sobre mim:</h2>
                        <div class="media my-3">
                            <i class="fas fa-heart fa-3x p-3 mr-4"></i>
                            <div class="media-body">
                                <p>Sou do tipo que coloco paixão em tudo que faço e me dedico ao máximo para fazer o melhor possível</p>
                            </div> 
                        </div>
                        <div class="media my-3">
                            <i class="fas fa-question-circle fa-3x p-3 mr-4"></i>
                            <div class="media-body">
                                <p>Não acredito em signo, apesar de me falarem que sou ariana típica</p>
                            </div> 
                        </div> 
                        <div class="media my-3">
                            <i class="fab fa-chrome fa-3x p-3 mr-4"></i>
                            <div class="media-body">
                                <p>Para cada pensamento, 20 abinhas abertas no navegador, buscando formas diferentes de enxergar a situação e aprender</p>
                            </div> 
                        </div>
                        <div class="media my-3">
                            <i class="fas fa-quote-right fa-3x p-3 mr-4"></i>
                            <div class="media-body">
                               <br><p>Pé no chão e sonhadora, sim... essa sou eu!</p>
                            </div> 
                        </div>             
                    </section>
                </main>
            </div>
        </div>        

        <div class="tm-row">
            <div class="tm-col-left text-center">            
                <ul class="tm-bg-controls-wrapper">
                    <li class="tm-bg-control active" data-id="0"></li>
                    <li class="tm-bg-control" data-id="1"></li>
                    <li class="tm-bg-control" data-id="2"></li>
                </ul>            
            </div>        
            <div class="tm-col-right tm-col-footer">
                <footer class="tm-site-footer text-right">
                    <p class="mb-0">Todos os direitos reservados
                    
                    | Design: <a rel="nofollow" target="_blank" href="http://linkedin.com/in/janicecaldeira" class="tm-text-link">Janice Caldeira</a> &copy</p>
                </footer>
            </div>  
        </div>        

        <div class="tm-bg">
            <div class="tm-bg-left"></div>
            <div class="tm-bg-right"></div>
        </div>
    </div>

    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.backstretch.min.js"></script>
    <script src="../static/js/templatemo-script.js"></script>
</body>
</html>