@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Comfortaa", sans-serif;
}

html{
    scroll-behavior: smooth;
}

nav{
    background-color: #E03F3D;
    position: fixed;
    width: 100%;
}

nav ul{
    list-style: none;
    font-weight: large;
    display: flex;
    justify-content: center;
}

nav ul li{
    padding: 1rem;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

header div p{
    font-size: 2vw;
    font-weight: 700;
    color: #E03F3D;
    padding-left: 4rem;
    text-align: end;
    
}

header div spam{
    font-size: 1.2vw;
    font-weight: 500;
    color: #E03F3D;
    padding-left: 24.5rem
}

header div#img-goal{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

header div#img-goal img{
    width: 60%;
}

section#sobre-mim{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 3rem 3rem 3rem;
    background-color: #E03F3D;

}

section#sobre-mim div img{
    width: 200;
    border-radius: 50%;
    padding: 3rem;

}

section#sobre-mim div p{
    font-size: 1.2vw;
    text-align: justify;
    color: #fff;
    line-height: 2rem;
    padding: 1rem;
}

section#projetos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
 }
 
 section#projetos div img{
    display: block;
    margin: auto;
    width: 50%;
    padding-bottom: 2rem;
 }
 
 section#projetos div h2{
    text-align: center;
    padding: .8rem;
    background-color: #C63A38;
    color: #fff;
    border-radius: 2rem;
 }
 
 section#projetos div p{
    text-align: justify;
    padding-top: 1rem;
 }
 
 section#projetos div{
    padding: 2rem;
 }

section#projetos div button{
    border: 3px solid #C63A38;
    background-color: #FFF;
    color: #C63A38;
    padding: 1rem;
    font-size: 1vw;
    font-weight: 600;
    border-radius: 2rem;
    display: block;
    margin: auto;
    margin-top: 2rem;
    cursor: pointer;
    transition: .6s ease-out;
}

section#projetos div button:hover{
    border: 3px solid #C63A38;
    background-color: #C63A38;
    color: #fff;
}

section#habilidades{
    padding: 3rem;
    padding-top: 10rem;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 12rem;
    background-color: #EF9F9E;
}

section#habilidades h2{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

section#habilidades p{
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
}

section#habilidades div{
    display: flex;
    border: 1px solid #e03f3d;
    border-radius: 1rem;
}

section#habilidades div spam#python{
    background-color:#e03f3d;
    color: #fff;
    text-align: center;
    padding: .3rem;
    border-radius: 1rem;
    width: 80%;
}

section#habilidades div spam#html{
    background-color:#e03f3d;
    color: #fff;
    text-align: center;
    padding: .3rem;
    border-radius: 1rem;
    width: 50%;
}

section#habilidades div spam#css{
    background-color:#e03f3d;
    color: #fff;
    text-align: center;
    padding: .3rem;
    border-radius: 1rem;
    width: 30%;
}

section#contato{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }
 
 section#contato div#redes{
    width: 100%;
    padding: 2rem;
    padding-top: 4rem;
 }
 
 section#contato div#redes h3{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
 }
 
 section#contato div#redes div#icons{
    display: flex;
    justify-content: center;
 }
 
 section#contato div#redes div#icons a{
    text-decoration: none;
    color: #C63A38;
    font-size: 3rem;
    padding: 1.5rem;
    transition: all .4s ease-out;
 }
 
 section#contato div#redes div#icons a:hover{
    color: #E03F3D;
 }
 
 section#contato div#redes div#icons a i{
    transition: all .4s ease-out;
 }
 
 /* O atributo transform só muda um elemento que aparece efetivamente na tela, por isso colocamos ele na tag i, e não na tag a */
 section#contato div#redes div#icons a i:hover{
    transform: scale(1.1);
 }
 
 section#contato div#form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }
 
 section#contato div#form h3{
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    font-weight: 500;
 }
 
 section#contato div#form form{
    width: 50%;
 }
 
 /* A virgula serve para estilizar dois elementos ao mesmo tempo */
 section#contato div#form form input, textarea{
    width: 100%;
    padding: .5rem;
    font-size: 1.5rem;
    border: 1px solid #E03F3D;
    border-radius: 2rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
    outline: none;
 }
 
 section#contato div#form form label{
    font-size: 1.2rem;
 }
 
 section#contato div#form form button{
    border: 1px solid #C63A38;
    background-color: #FFF;
    color: #C63A38;
    padding: 1rem;
    font-size: 1vw;
    font-weight: 600;
    border-radius: 2rem;
    display: block;
    margin: auto;
    margin-top: 2rem;
    cursor: pointer;
    transition: .6s ease-out;
    width: 20%;
 }
 
 section#contato div#form form button:hover{
    border: 1px solid #C63A38;
    background-color: #C63A38;
    color: #fff;
 }